.menu > .collection-item{
  margin: 0px;
  background-color: #FFF;
}

.menu > .collection-item > i{
  float: left;
  margin-top: -18px;
  margin-right: 10px;
}

.menu > .collection-item.avatar{
  height: 120px;
  background-color: #1d5876
}

.navbar-fixed > nav {
  background-color: #1d5876;
}

.menu.collection {
  border: 0px;
  margin-top: 0px;
}

.menu.collection a{
  padding-top: 9% !important;
  color: #1d5876 !important;
}

.menu.collection a:not(.active):hover{
  background-color: #1d5876 !important;
  color: #FFF !important  ;
}

.button-collapse{
  margin-left: 10px;
}
